<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 page</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3>{{errorMessage}}</h3>
    </div>

    {{>footer}}    
</body>
</html>
