<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Hamza El Gatia. It uses data from MapBox and WeatherForecast.</p>
        <img class="portrait" src="./images/00-0.jpg">
    </div>
    
    {{>footer}}
</body>
</html>